.down-head-item ul li a{
    text-decoration: none;
    padding: 3px 3px;
    font-weight: bold;
    font-size: 1em;
    color: seashell;
}
.search input{
    width: 88px;
    background-color: rgb(150, 238, 99);
    padding: 2px 14px;
    border-radius: 10px;
    border: 2px solid black;
}
.btn{
    width: 62px;
    padding: 2px 6px;
    border-radius: 10px;
    background-color: cadetblue;
    border: 2px solid black;
    margin: 0px 3px;
}
.media-partner{
    height: 487px;
    background-color:  rgba(103, 103, 152,0.5) ;
}
.media-item{
    margin: 2px;
}
.information{
    background-color: #8686bb;
    height: 270px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.information-item{
    margin: 15px;
}
.information-item h2{
    font-size: 20px;
    margin: 10px;
    text-align: center;
}
.information-item address{
    font-size: 14px;
    text-align: center;
}
.information-item p{
    font-size: 14px;
    text-align: center;
}